html, body {
	font-family: sans-serif;
	font-size: 12px;
	font-weight: bold;
	height: 100%;,
	width: 100%;
}
* { padding: 0; margin: 0 }
#options {
	opacity: 0;
	position: absolute;
	left: 1em;
	top: 0;
	-webkit-transition: opacity 1s linear;
}
	#options label {
		clear: both;
		float: left;
		height: 2em;
		line-height: 2em;
	}
		#options label span.label-name {
			display: inline-block;
			width: 12em;
		}
#options:hover {
	opacity: 1;
	-webkit-transition: opacity 0.5s linear;
}
#fps-meter {
	height: 3em;
	line-height: 3em;
	position: absolute;
	right: 1em;
	bottom: 0;
	width: 5em;
}